{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "masa", "hiro", "tomo", "taka", "katsu", "haru", "yoshi", "kou", "toshi", "kazu", "iku", "kiku", "kuni", "kei", "shige", "sumi", "sei", "tai", "tetsu", "to", "nao", "nobu", "haya", "hisa", "maki", "miki", "moto", "yasu", "yu", "yo", "ai", "ao", "aka", "aki", "asa", "rei", "rika", "ari", "nori", "nihon", "nippon" ],
      [ { "mode" : "alts" }, "hiro", "ki", "ko", "katsu", "kuni", "sada", "mi", "o", "ji", "jiro", "shige", "zo", "taka", "taro", "tsune", "teru", "tomo", "nosuke", "hide", "mitsu", "michi", "moto", "goro", "hisa", "na", "ra", "no", "ri", "ne", "e", "rei", "se", "su", "yo", "naga" ]
    ]
  ]
}