{
  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/title/charactercreation.png",
      "fileFooter" : ""
    },
    "labelSpeciesRadio" : {
      "type" : "label",
      "position" : [68, 220],
      "hAnchor" : "mid",
      "value" : "SPECIES"
    },
    "labelSpeciesRadio2" : {
      "type" : "label",
      "position" : [382, 220],
      "hAnchor" : "mid",
      "value" : "SPECIES"
    },
    "labelPortrait" : {
      "type" : "label",
      "position" : [177, 204],
      "hAnchor" : "mid",
      "value" : "HUMAN"
    },
    "labelMainSkinColor" : {
      "type" : "label",
      "position" : [164, 119],
      "hAnchor" : "mid"
    },
    "mainSkinColor" : {
      "type" : "spinner",
      "position" : [196, 119],
      "zlevel" : 1
    },
    "labelHairStyle" : {
      "type" : "label",
      "position" : [164, 107],
      "hAnchor" : "mid"
    },
    "hairStyle" : {
      "type" : "spinner",
      "position" : [196, 107],
      "zlevel" : 1
    },
    "labelShirt" : {
      "type" : "label",
      "position" : [164, 95],
      "hAnchor" : "mid"
    },
    "shirt" : {
      "type" : "spinner",
      "position" : [196, 95],
      "zlevel" : 1
    },
    "labelPants" : {
      "type" : "label",
      "position" : [164, 83],
      "hAnchor" : "mid"
    },
    "pants" : {
      "type" : "spinner",
      "position" : [196, 83],
      "zlevel" : 1
    },
    "labelPersonality" : {
      "type" : "label",
      "position" : [164, 131],
      "hAnchor" : "mid"
    },
    "personality" : {
      "type" : "spinner",
      "position" : [196, 131],
      "zlevel" : 1
    },
    "labelAlty" : {
      "type" : "label",
      "position" : [264, 119],
      "hAnchor" : "mid"
    },
    "alty" : {
      "type" : "spinner",
      "position" : [296, 119],
      "zlevel" : 1
    },
    "labelHeady" : {
      "type" : "label",
      "position" : [264, 107],
      "hAnchor" : "mid"
    },
    "heady" : {
      "type" : "spinner",
      "position" : [296, 107],
      "zlevel" : 1
    },
    "labelShirtColor" : {
      "type" : "label",
      "position" : [264, 95],
      "hAnchor" : "mid"
    },
    "shirtColor" : {
      "type" : "spinner",
      "position" : [296, 95],
      "zlevel" : 1
    },
    "labelPantsColor" : {
      "type" : "label",
      "position" : [264, 83],
      "hAnchor" : "mid"
    },
    "pantsColor" : {
      "type" : "spinner",
      "position" : [296, 83],
      "zlevel" : 1
    },
    "randomize" : {
      "type" : "button",
      "base" : "/interface/title/dice.png",
      "hover" : "/interface/title/diceover.png",
      "position" : [289, 135]
    },
    "randomName" : {
      "type" : "button",
      "base" : "/interface/title/dice.png",
      "hover" : "/interface/title/diceover.png",
      "position" : [289, 32]
    },
    "saveChar" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [149, 16],
      "caption" : "Ok"
    },
    "cancel" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [244, 16],
      "caption" : "Cancel"
    },
    "species" : {
      "type" : "radioGroup",
      "position" : [12, 189],

      "baseImage" : "/interface/title/button.png",
      "hoverImage" : "/interface/title/buttonover.png",
      "baseImageChecked" : "/interface/title/selected.png",
      "hoverImageChecked" : "/interface/title/selectedover.png",

      "buttons" : [
        {
          "id" : 0,
          "image" : "",
          "position" : [13, 0]
        },
        {
          "id" : 1,
          "image" : "",
          "position" : [40, 0]
        },
        {
          "id" : 2,
          "image" : "",
          "position" : [67, 0]
        },
        {
          "id" : 3,
          "image" : "",
          "position" : [13, -26]
        },
        {
          "id" : 4,
          "image" : "",
          "position" : [40, -26]
        },
        {
          "id" : 5,
          "image" : "",
          "position" : [67, -26]
        },

        {
          "image" : "",
          "position" : [0, -52]
        },
        {
          "image" : "",
          "position" : [27, -52]
        },
        {
          "image" : "",
          "position" : [54, -52]
        },
        {
          "image" : "",
          "position" : [81, -52]
        },
        {
          "image" : "",
          "position" : [0, -78]
        },
        {
          "image" : "",
          "position" : [27, -78]
        },
        {
          "image" : "",
          "position" : [54, -78]
        },
        {
          "image" : "",
          "position" : [81, -78]
        },
        {
          "image" : "",
          "position" : [0, -104]
        },
        {
          "image" : "",
          "position" : [27, -104]
        },
        {
          "image" : "",
          "position" : [54, -104]
        },
        {
          "image" : "",
          "position" : [81, -104]
        },
        {
          "image" : "",
          "position" : [0, -130]
        },
        {
          "image" : "",
          "position" : [27, -130]
        },
        {
          "image" : "",
          "position" : [54, -130]
        },
        {
          "image" : "",
          "position" : [81, -130]
        },
        {
          "image" : "",
          "position" : [0, -156]
        },
        {
          "image" : "",
          "position" : [27, -156]
        },
        {
          "image" : "",
          "position" : [54, -156]
        },
        {
          "image" : "",
          "position" : [81, -156]
        },

        {
          "image" : "",
          "position" : [314, 0]
        },
        {
          "image" : "",
          "position" : [341, 0]
        },
        {
          "image" : "",
          "position" : [368, 0]
        },
        {
          "image" : "",
          "position" : [395, 0]
        },
        {
          "image" : "",
          "position" : [314, -26]
        },
        {
          "image" : "",
          "position" : [341, -26]
        },
        {
          "image" : "",
          "position" : [368, -26]
        },
        {
          "image" : "",
          "position" : [395, -26]
        },
        {
          "image" : "",
          "position" : [314, -52]
        },
        {
          "image" : "",
          "position" : [341, -52]
        },
        {
          "image" : "",
          "position" : [368, -52]
        },
        {
          "image" : "",
          "position" : [395, -52]
        },
        {
          "image" : "",
          "position" : [314, -78]
        },
        {
          "image" : "",
          "position" : [341, -78]
        },
        {
          "image" : "",
          "position" : [368, -78]
        },
        {
          "image" : "",
          "position" : [395, -78]
        },
        {
          "image" : "",
          "position" : [314, -104]
        },
        {
          "image" : "",
          "position" : [341, -104]
        },
        {
          "image" : "",
          "position" : [368, -104]
        },
        {
          "image" : "",
          "position" : [395, -104]
        },
        {
          "image" : "",
          "position" : [314, -130]
        },
        {
          "image" : "",
          "position" : [341, -130]
        },
        {
          "image" : "",
          "position" : [368, -130]
        },
        {
          "image" : "",
          "position" : [395, -130]
        },
        {
          "image" : "",
          "position" : [314, -156]
        },
        {
          "image" : "",
          "position" : [341, -156]
        },
        {
          "image" : "",
          "position" : [368, -156]
        },
        {
          "image" : "",
          "position" : [395, -156]
        }
      ]
    },
    "gender" : {
      "type" : "radioGroup",
      "position" : [145, 163],

      "baseImage" : "/interface/title/button.png",
      "hoverImage" : "/interface/title/buttonover.png",
      "baseImageChecked" : "/interface/title/selected.png",
      "hoverImageChecked" : "/interface/title/selectedover.png",

      "buttons" : [
        {
          "id" : 0,
          "image" : "/interface/title/male.png",
          "position" : [0, 0]
        },
        {
          "id" : 1,
          "image" : "/interface/title/female.png",
          "selected" : true,
          "position" : [29, 0]
        }
      ]
    },
    "labelMode" : {
      "type" : "label",
      "position" : [225, 69],
      "hAnchor" : "mid",
      "zlevel" : 1
    },
    "mode" : {
      "type" : "radioGroup",
      "position" : [145, 53],

      "baseImage" : "/interface/title/checkboxnocheck.png",
      "hoverImage" : "/interface/title/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/title/checkboxcheck.png",
      "hoverImageChecked" : "/interface/title/checkboxcheckhover.png",

      "buttons" : [
        {
          "id" : 0,
          "image" : "",
          "text" : "",
          "selected" : true,
          "position" : [-17, 0],
          "data" : {
            "description" : "Lose pixels upon death."
          }
        },
        {
          "id" : 1,
          "image" : "",
          "text" : "",
          "position" : [47, 0],
          "data" : {
            "description" : "Lose pixels and drop all items upon death."
          }
        },
        {
          "id" : 2,
          "image" : "",
          "text" : "",
          "position" : [111, 0],
          "data" : {
            "description" : "When you die your character stays dead."
          }
        }
      ]
    },
    "charPreview" : {
      "type" : "portrait",
      "position" : [274, 187],
      "scale" : 1.5
    },
    "name" : {
      "type" : "textbox",
      "position" : [168, 36],
      "hint" : "name",
      "maxWidth" : 70,
      "enterKey" : "saveChar",
      "escapeKey" : "cancel",
      "focus" : true
    }
  }
}
